Repository metabrainz/mb-mail-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-deny

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg
  - pre-push
default_stages:
  - pre-commit
  - pre-push
  - manual
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: end-of-file-fixer
        exclude: fixtures
      - id: mixed-line-ending
      - id: check-merge-conflict
      - id: check-added-large-files
      # - id: no-commit-to-branch
      #   args: [ --branch, main ]
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
  - repo: https://github.com/FeryET/pre-commit-rust
    rev: v1.1.1
    hooks:
      - id: cargo-check
        stages:
        - pre-commit
        - pre-push
      - id: clippy
        stages:
        - pre-commit
        - pre-push
        args: [--all-targets, "--", "-D", "errors"]
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format files with cargo fmt.
        entry: cargo fmt
        language: system
        types: ["rust"]
        args: ["--"]
        stages:
        - pre-commit
        - pre-push
      - id: cargo-deny
        name: check Cargo dependencies
        description: check Cargo dependencies
        entry: cargo-deny
        language: system
        types: [file, toml]
        files: Cargo\.(toml|lock)
        pass_filenames: false
        args: ["--locked", "--all-features", "check"]

      - id: test
        name: test
        description: Run tests with cargo test
        entry: cargo test
        language: system
        types: [file]
        pass_filenames: false
        stages: ["pre-push"]
  - repo: https://github.com/crate-ci/typos
    rev: v1.28.4
    hooks:
      - id: typos

chore: Release mb-mail-service version 0.4.12
  Cargo.lock
  Cargo.toml
Due: cargo-deny

feat: Add templates for listenbrainz notification events
  locales/en.json
  src/components.rs
  src/templates.rs
  src/templates/personal_recommendation.rs
  src/templates/playlist_notification.rs
Due: cargo-fmt

fix: add option for users to unsubscribe from e-mail notifications
  locales/en.json
  src/templates/personal_recommendation.rs
  src/templates/playlist_notification.rs
Due: cargo-fmt

fix: incorporate feedback and fix design issues
  locales/en.json
  src/components.rs
  src/templates/personal_recommendation.rs
  src/templates/playlist_notification.rs
Due: cargo-fmt

chore: Release mb-mail-service version 0.5.0
  Cargo.lock
  Cargo.toml
Due: cargo-deny

chore(translations): Translated using Weblate (Catalan)
  locales/ca.json
Due: none

feat: Add 'ca' and 'zh_Hans' locales to Cargo.toml
  Cargo.toml
Due: cargo-deny

chore(translations): Translated using Weblate (Dutch)
  locales/nl.json
Due: none

chore(translations): Added translation using Weblate (Dutch)
  locales/nl.json
Due: none

chore: Enable Dutch translations
  Cargo.toml
Due: cargo-deny

docs: improve contributing documentation clarity
  docs/CONTRIBUTING.md
Due: none

chore(translations): Translated using Weblate (Russian)
  locales/ru.json
Due: none

Log warning when unknown email template is requested
  src/templates.rs
Due: cargo-fmt

Fix formatting of warning log in templates::get
  src/templates.rs
Due: cargo-fmt

Fix indentation in templates::get match arm
  src/templates.rs
Due: cargo-fmt

feat: Log warning when unknown email template is requested (#396)
  src/templates.rs
Due: cargo-fmt

feat: add email templates for ListenBrainz notification types
  locales/en.json
  src/templates.rs
  src/templates/cb_review.rs
  src/templates/follow.rs
  src/templates/notification.rs
  src/templates/recording_pin.rs
  src/templates/thanks.rs
Due: cargo-fmt

fix: add missing newline at end of file in templates.rs
  src/templates.rs
Due: cargo-fmt

fix: remove trailing comma to satisfy cargo fmt
  src/templates.rs
Due: cargo-fmt

feat: add email templates for ListenBrainz notification types (#404)
  locales/en.json
  src/templates.rs
  src/templates/cb_review.rs
  src/templates/follow.rs
  src/templates/notification.rs
  src/templates/recording_pin.rs
  src/templates/thanks.rs
Due: cargo-fmt

chore(translations): Translated using Weblate (Malay)
  locales/ms.json
Due: none

chore(translations): Added translation using Weblate (Malay)
  locales/ms.json
Due: none

chore(translations): Translated using Weblate (Chinese (Simplified Han script))
  locales/zh_Hans.json
Due: none

feat: add recording_recommendation template and hide empty message bubble
  locales/en.json
  src/templates.rs
  src/templates/recording_recommendation.rs
Due: cargo-fmt

feat: add message and album art support to recording_pin and thanks templates
  src/templates/recording_pin.rs
  src/templates/thanks.rs
Due: cargo-fmt

chore: Release mb-mail-service version 0.5.1
  Cargo.lock
  Cargo.toml
Due: cargo-deny

chore: allow JadedBlueEyes git sources in deny.toml
  deny.toml
Due: none

chore: add RUSTSEC-2026-0173 advisory for proc-macro-error2 dependency
  deny.toml
Due: none

fix: use non-deprecated TimeoutLayer API
  src/serve.rs
Due: cargo-fmt
