Repository metabrainz/mb-mail-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-deny

cargo-fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --
  stages:
  - pre-commit
  - pre-push

cargo-deny:
  name: check Cargo dependencies
  description: check Cargo dependencies
  entry: cargo-deny
  language: system
  pass_filenames: false
  args:
  - --locked
  - --all-features
  - check

chore: Fix bad clippy commands
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

chore: Fix clippy warning
  src/main.rs
Due: cargo-fmt

build: Set explicit rust version
  rust-toolchain.toml
Due: none

chore: Release mb-mail-service version 0.4.9
  Cargo.lock
  Cargo.toml
Due: cargo-deny

docs: Add release command
  docs/RELEASING.md
Due: none

ci: Install rustfmt and clippy explicitly
  .github/workflows/ci.yml
Due: none

chore: Update precommit versions
  .pre-commit-config.yaml
Due: none

chore: Update Sentry config for nicer outputs
  src/main.rs
Due: cargo-fmt

chore: Release mb-mail-service version 0.4.10
  Cargo.lock
  Cargo.toml
Due: cargo-deny

chore(deps): Update Sentry
  Cargo.lock
  Cargo.toml
Due: cargo-deny

chore(translations): Added translation using Weblate (Chinese (Simplified Han script))
  locales/zh_Hans.json
Due: none

fix(deps): update rust crate sentry to 0.45.0
  Cargo.lock
  Cargo.toml
Due: cargo-deny

chore: Update sentry release format
  src/main.rs
Due: cargo-fmt

feat: Warn when sentry is not enabled
  src/main.rs
Due: cargo-fmt

chore: Fix clippy warnings
  src/main.rs
Due: cargo-fmt

chore(translations): Translated using Weblate (Lithuanian)
  locales/lt.json
Due: none

chore: Ignore translation title length
  .gitlint
Due: none

chore(translations): Translated using Weblate (French)
  locales/fr.json
Due: none

chore(translations): Translated using Weblate (Russian)
  locales/ru.json
Due: none

chore(translations): Translated using Weblate (Catalan)
  locales/ca.json
Due: none

chore(translations): Added translation using Weblate (Catalan)
  locales/ca.json
Due: none

chore(translations): Translated using Weblate (Portuguese)
  locales/pt.json
Due: none

chore(translations): Added translation using Weblate (Portuguese)
  locales/pt.json
Due: none

chore(translations): Translated using Weblate (Chinese (Simplified Han script))
  locales/zh_Hans.json
Due: none

chore: Release mb-mail-service version 0.4.11
  Cargo.lock
  Cargo.toml
Due: cargo-deny

chore(translations): Translated using Weblate (English)
  locales/en.json
Due: none

chore(translations): Consistently space brackets
  locales/ca.json
  locales/de.json
  locales/en.json
  locales/fr.json
  locales/lt.json
  locales/pt.json
  locales/ru.json
  locales/zh_Hans.json
Due: none

chore(translations): Use typographical quotes in english
  locales/en.json
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-deny: any of: Cargo\.(toml|lock) and \.toml$
