Repository metabrainz/mb-mail-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-deny

cargo-fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --
  stages:
  - pre-commit
  - pre-push

cargo-deny:
  name: check Cargo dependencies
  description: check Cargo dependencies
  entry: cargo-deny
  language: system
  pass_filenames: false
  args:
  - --locked
  - --all-features
  - check

fix: use non-deprecated TimeoutLayer API
  src/serve.rs
Due: cargo-fmt

chore: add RUSTSEC-2026-0173 advisory for proc-macro-error2 dependency
  deny.toml
Due: none

chore: Release mb-mail-service version 0.5.1
  Cargo.lock
  Cargo.toml
Due: cargo-deny

chore: allow JadedBlueEyes git sources in deny.toml
  deny.toml
Due: none

chore: Release mb-mail-service version 0.5.2
  Cargo.lock
  Cargo.toml
Due: cargo-deny

feat: Include debuginfo in release images
  Cargo.toml
  Dockerfile
Due: cargo-deny

refactor: conditionally render album art and buttons in LB email templates
  src/templates/personal_recommendation.rs
  src/templates/recording_pin.rs
  src/templates/recording_recommendation.rs
  src/templates/thanks.rs
Due: cargo-fmt

chore: Release mb-mail-service version 0.5.3
  Cargo.lock
  Cargo.toml
Due: cargo-deny

docs(CONTRIBUTING): fix inconsistent SMTP port env var usages
  docs/CONTRIBUTING.md
Due: none

chore(deps): patch out pme2 via syn_derive, refresh lockfile
  Cargo.lock
  Cargo.toml
  deny.toml
Due: cargo-deny

feat: Add template for autoeditor election voting opening
  locales/en.json
  src/templates.rs
  src/templates/election_open.rs
Due: cargo-fmt

feat: Add template for autoeditor election start
  locales/en.json
  src/templates.rs
  src/templates/election_start.rs
Due: cargo-fmt

feat: Add template for autoeditor election failing
  locales/en.json
  src/templates.rs
  src/templates/election_rejected.rs
Due: cargo-fmt

feat: Add template for autoeditor election passing
  locales/en.json
  src/templates.rs
  src/templates/election_accepted.rs
Due: cargo-fmt

feat: Add template for autoeditor election being cancelled
  locales/en.json
  src/templates.rs
  src/templates/election_cancelled.rs
Due: cargo-fmt

ci: pin action versions with pinact
  .github/workflows/ci.yml
  .github/workflows/docker-hub-description.yml
  .github/workflows/release-image.yml
  .github/workflows/weblate-create-pr.yml
Due: none

chore: Release mb-mail-service version 0.5.4
  Cargo.lock
  Cargo.toml
Due: cargo-deny

chore(deps): remove unused convert_case crate
  Cargo.lock
  Cargo.toml
Due: cargo-deny

chore(deps): remove unused futures-util crate
  Cargo.lock
  Cargo.toml
Due: cargo-deny

chore(deps): remove unused strum crate
  Cargo.lock
  Cargo.toml
Due: cargo-deny

chore(translations): Translated using Weblate (Dutch)
  locales/nl.json
Due: none

chore(translations): Translated using Weblate (Catalan)
  locales/ca.json
Due: none

fix(deps): update rust crate sentry to 0.49.0
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: cargo-fmt, cargo-deny

chore: add RustRover files
  .idea/.gitignore
  .idea/mb-mail-service.iml
  .idea/modules.xml
  .idea/vcs.xml
Due: none

fix(deps): update rust crate axum-test to v21
  Cargo.lock
  Cargo.toml
  src/serve.rs
Due: cargo-fmt, cargo-deny

chore: Release mb-mail-service version 0.5.5
  Cargo.lock
  Cargo.toml
Due: cargo-deny

ci: Merge cache action with rust action
  .github/workflows/ci.yml
Due: none

fix: Explicitly define required components in toolchain file
  rust-toolchain.toml
Due: none

feat: Changes to election templates
  src/templates/election_accepted.rs
  src/templates/election_cancelled.rs
  src/templates/election_open.rs
  src/templates/election_rejected.rs
  src/templates/election_start.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-deny: any of: Cargo\.(toml|lock) and \.toml$
