Repository metabrainz/mb-mail-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-deny

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg
  - pre-push
default_stages:
  - pre-commit
  - pre-push
  - manual
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: end-of-file-fixer
        exclude: fixtures
      - id: mixed-line-ending
      - id: check-merge-conflict
      - id: check-added-large-files
      # - id: no-commit-to-branch
      #   args: [ --branch, main ]
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
  - repo: https://github.com/FeryET/pre-commit-rust
    rev: v1.1.1
    hooks:
      - id: cargo-check
        stages:
        - pre-commit
        - pre-push
      - id: clippy
        stages:
        - pre-commit
        - pre-push
        args: [--all-targets, "--", "-D", "errors"]
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format files with cargo fmt.
        entry: cargo fmt
        language: system
        types: ["rust"]
        args: ["--"]
        stages:
        - pre-commit
        - pre-push
      - id: cargo-deny
        name: check Cargo dependencies
        description: check Cargo dependencies
        entry: cargo-deny
        language: system
        types: [file, toml]
        files: Cargo\.(toml|lock)
        pass_filenames: false
        args: ["--locked", "--all-features", "check"]

      - id: test
        name: test
        description: Run tests with cargo test
        entry: cargo test
        language: system
        types: [file]
        pass_filenames: false
        stages: ["pre-push"]
  - repo: https://github.com/crate-ci/typos
    rev: v1.28.4
    hooks:
      - id: typos

feat: Add template for autoeditor election passing
  locales/en.json
  src/templates.rs
  src/templates/election_accepted.rs
Due: cargo-fmt

feat: Add template for autoeditor election voting opening
  locales/en.json
  src/templates.rs
  src/templates/election_open.rs
Due: cargo-fmt

feat: Changes to election templates
  src/templates/election_accepted.rs
  src/templates/election_cancelled.rs
  src/templates/election_open.rs
  src/templates/election_rejected.rs
  src/templates/election_start.rs
Due: cargo-fmt

feat: Add template for autoeditor election being cancelled
  locales/en.json
  src/templates.rs
  src/templates/election_cancelled.rs
Due: cargo-fmt

feat: Add template for autoeditor election start
  locales/en.json
  src/templates.rs
  src/templates/election_start.rs
Due: cargo-fmt

chore(translations): Added translation using Weblate (Chinese (Traditional Han script))
  locales/zh_Hant.json
Due: none

chore(translations): Update available languages
  Cargo.toml
Due: cargo-deny

chore: Dep update
  Cargo.lock
Due: none

chore: Release mb-mail-service version 0.5.6
  Cargo.lock
  Cargo.toml
Due: cargo-deny

chore(translations): Translated using Weblate (Chinese (Simplified Han script))
  locales/zh_Hans.json
Due: none
